.signUp {
    text-align: center;
}
.acc {
    color: hsla(230, 98%, 18%, 1); 
    font-size: 57px;
    font-weight: 400;
    padding-bottom: 20px;
}
.signP{
    width: 80%;
    margin: 0 auto;
    font-size: 19px;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 30px;
}

.register {
    height: 1286px;
    width: 654px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 120px;
    border-radius: 10px; 
    border: 3px solid hsla(230, 98%, 18%, 1);    
}
.log {
    position: relative;
    top: 50px;
}
.logtext {
    font-family: DM Serif Display;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
    color: hsla(230, 98%, 18%, 1);
    letter-spacing: 0em;
    text-align: center;
}
.buttons {
    position: relative;
    top: 75px;
}
.mails {
    width: 492px;
    text-align: justify;
    height: 80px;
    border-radius: 10px;
    position: relative;
    top: 148px;
    font-size: 16px;
    padding-left: 35px;
    font-weight: 300;
    border: 2px solid #C4C4C4;
    margin-bottom: 30px;
}
.Fname {
    width: 492px;
    text-align: justify;
    height: 80px;
    border-radius: 10px;
    position: relative;
    top: 14px;
    font-size: 16px;
    padding-left: 35px;
    font-weight: lighter;
    border: 3px solid #01105B;
}
.Lname {
    width: 492px;
    text-align: justify;
    height: 80px;
    border-radius: 10px;
    position: relative;
    top: 47px;
    font-size: 16px;
    padding-left: 35px;
    font-weight: lighter;
    border: 2px solid #C4C4C4;
}
.Cmails {
    width: 492px;
    text-align: justify;
    height: 80px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    font-size: 16px;
    padding-left: 35px;
    font-weight: 300;
    border: 2px solid #C4C4C4;
}
.password {
    width: 492px;
    height: 80px;
    padding-left: 35px;
    border-radius: 10px;
    position: relative;
    top: 112px;
    font-size: 16px;
    font-weight: 300;
    border: 2px solid #C4C4C4;
}
.reset {
    display: flex;
    position: relative;
    top: 240px;
    justify-content: space-evenly;
}
.passtext {
    width: 231px;
    height: 25px;
    color: hsla(230, 98%, 18%, 1);
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
#set {
    font-weight: 600;
    font-size: 20px;
    color: hsla(230, 98%, 18%, 1);
    text-decoration: none;
}
.btn button{
    width: 198.9px;
    height: 60px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background: hsla(230, 98%, 18%, 1);
}
.socials {
    position: relative;
    top: 310px;
}
.google button {
    height: 80px;
width: 492px;
color: white;
font-weight: 700;
position: relative;
border: none;
font-size: 20px;
text-align: center;
border-radius: 10px;
background: hsla(0, 100%, 40%, 1);
}
#icon {
    color: hsla(0, 0%, 100%, 1);
    width:31.9px;
    height: 32.57px;
    position: relative;
    top: 1px;
    background: none;
    right: 15px;
}
.facebook button{
    height: 80px;
    width: 492px;
    color: white;
    position: relative;
    top: 35px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    text-align: center;
    border-radius: 10px;
    background: hsla(223, 100%, 28%, 1);
}
.twitter button{
    height: 80px;
    width: 492px;
    color: white;
    border: none;
    position: relative;
    top: 70px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background: hsla(194, 100%, 63%, 1);
}

@media only screen and (max-width: 768px) {
    .register {
        height: 1120px;
        width: 450px;
        padding-bottom: 20px; 
    }
    .Cmails, .password, .Lname, .Fname, .mails {
        width: 312px!important;
        height: 60px!important;
    }
    .google button {
        height: 60px;
    width: 312px;
    }
    .facebook button{
        height: 60px;
    width: 312px;
    }
    .twitter button{
        height: 60px;
    width: 312px;
    }
    .btn button{
        width: 145.9px;
        height: 50px;
    }
    .passtext {
        width: 195px;
        height: 25px;
    }
}