.viewAgent {
    background: #E5E5E5;
}
.top {
    display: flex;
    width: 100%;
    /* background-color: #a00847; */
    padding-top: 35px;
    padding-bottom: 30px;
    justify-content: space-between;
}
.left {
    width: 333px;
    background-color: white;
    margin-left: 70px;
}

.personal {
    color: hsla(230, 98%, 18%, 1);
    font-size: 18px;
}
.info hr{
    width: 250px;
    border: 3px solid hsla(0, 0%, 82%, 1)
}
.buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.butt button{
    width: 106px;
    height: 43px;
    border-radius: 5px;
    background: white;
    font-size: 18px;
}
.buton button{
    width: 168px;
    height: 43px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: hsla(230, 98%, 18%, 1);
    color: white;
}
.socialIcons {
    display: flex;
    color: hsla(230, 98%, 18%, 1);
    padding-right: 10px;
    padding-left: 10px;
}
#icon {
    width: 33px;
    /* height: 32.57px; */
    padding-left: 10px;
    padding-bottom: 10px;
    background: none;
}
.right {
    background: white;
    width: 841px;
    margin: 0 auto;
    border-radius: 10px;
}
.topleft {
    display: flex;
    justify-content: space-between;
}
.btn button{
    width: 187px;
    height: 56px;
    background: hsla(230, 98%, 18%, 1);
    border-radius: 5px;
    color: white;
    font-size: 24px;
    border: none;
}
.stars {
    display: flex;
}
.claim {
    display: flex;
}