.container{
    margin-top: 80px;
    margin-bottom: 200px;
}

.info{
    margin-top: 19px;
    p{
        font-size: 16px;
        color: #01105b;
        font-weight: 600;
    }
    
}

.icon{
        width: 27px;
        height: 27px;
        color: #01105b;
}

.buttons{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

    .btn1{
        color: #01105b;
        border: 1px solid #01105b;
        width:50% ;
        outline: none !important;
        &:hover{
                
            background-color: #01105b;
            color: #fff;
                  
        }
        
    }
    .btn2{
        color: #fff;
        background-color: #01105b;
        outline: none !important;
        &:hover{
                
            background-color: #fff;
            color: #01105b;
            width: 80%;
           
        }
        
    }
}

.form{
    margin-top: 30px;
    margin-bottom: 40px;
    label{
        font-size: 20px;
        color: #000;
    }
    input{
        background-color: #e5e5e5; 
        color: #818181;
    }
    select{
        background-color: #e5e5e5; 
        color: #818181;
        margin-bottom: 25px;
    }
    textarea{
        background-color: #e5e5e5; 
        color: #818181;
    }
    
    input[type=text]{
        margin-bottom: 25px;
    }
}
.form-control:focus{
    border-color: #ced4da !important;
    box-shadow: none;
}
.form-select:focus{
    border-color: #ced4da !important;
    box-shadow: none;
}

.btn3{
    color: #fff;
    background-color: #01105b;
}

