.viewAgent {
    background: #E5E5E5;
}
.top {
    display: flex;
    width: 100%;
    /* background-color: #a00847; */
    padding-top: 35px;
    padding-bottom: 30px;
    justify-content: space-between;
}
.left {
    width: 333px;
    background-color: #fff;
    margin-left: 70px;
    height: 274px;
}
.info {
    background-color: #fff;
    padding: 10px;
}
.personal {
    color: hsla(230, 98%, 18%, 1);
    font-size: 18px;
}
.info hr{
    width: 250px;
    border: 3px solid hsla(0, 0%, 82%, 1)
}
.buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.claim_button {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 20px;
}
.claimed button{
    width: 106px;
    height: 43px;
    border-radius: 5px;
    background: white;
    font-size: 18px;
}
.not_claimed button{
    width: 168px;
    height: 43px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: hsla(230, 98%, 18%, 1);
    color: white;
}
.butt button{
    width: 106px;
    height: 43px;
    border-radius: 5px;
    background: white;
    font-size: 18px;
}
.buton button{
    width: 168px;
    height: 43px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: hsla(230, 98%, 18%, 1);
    color: white;
}
.socialIcons {
    display: flex;
    color: hsla(230, 98%, 18%, 1);
    // padding-right: 10px;
    // padding-left: 10px;
    margin-bottom: 10px;
}
#icon {
    width: 33px;
    /* height: 32.57px; */
    padding-left: 10px;
    padding-bottom: 10px;
    background: none;
}
 .rightDiv { 
    width: 850px;
    /* background-color: brown; */
    margin: 0 auto;
}
.right {
    background: white;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.expert {
    color: hsla(210, 96%, 70%, 1);
    font-size: 18px;
}
#agent_name {
    font-size: 40px;
}
#agent_status {
    font-size: 16px;
    color: rgb(145, 143, 143);
    padding-left: 12px;
}
.stars {
    color: hsla(230, 98%, 18%, 1);
    font-size: 26px;
    font-weight: 700;
    padding-left: 5px;
}
.star {
    display: flex;
    font-size: 22px;
    color: rgb(145, 143, 143);
}
.topleft {
    display: flex;
    justify-content: space-between;
}
.btn button{
    width: 187px;
    height: 56px;
    background: hsla(230, 98%, 18%, 1);
    border-radius: 5px;
    color: white;
    font-size: 24px;
    border: none;
}
#dates {
    color: rgb(145, 143, 143);
    font-size: 16px;
}
.claim {
    display: flex;
    height: 25px;
}
.contactDetails {
    display: flex;
}
.detail {
    display: flex;
    height: 2px;
}
.rate {
    display: flex;
}
#phone {
    color: hsla(230, 98%, 18%, 1);
    font-size: 16px;
}
#line hr{
    width: 762px;
    border: 3px solid hsla(0, 0%, 92%, 1)
}
#phone2 {
    color: rgb(145, 143, 143);
    font-size: 16px;
    padding-left: 12px;
}
#detailA {
    color: hsla(230, 98%, 18%, 1);
    font-size: 18px;
    cursor: pointer;
}
#detailB {
    color: rgb(145, 143, 143);
    font-size: 18px;
    padding-left: 12px;
}
#reviewed {
    color: hsla(180, 14%, 1%, 1);
    font-size: 18px;
}
.enroledDetail {
    font-size: 18px;
    color: hsla(0, 0%, 38%, 1);
}
.bottomDiv {
    width: 841px;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 10px;
}
.client, .word {
    display: flex;
    justify-content: space-between;
}
.p3 {
    width: 779px;
    font-size: 18px;
    color: hsla(0, 0%, 38%, 1);
}
.border {
    width: 489px;
    border: 1px solid hsla(0, 0%, 60%, 1);
   margin: 0 auto;
   margin-top: 15px;
   margin-bottom: 15px;
}
.seeAll {
    text-align: center;
    font-size: 24px;
    color: hsla(0, 0%, 38%, 1);
    font-family: Reem Kufi;
}