.bgBanner{
    background-image:url(../../public/images/banners/what-is-an-ea.png);
    background-repeat:no-repeat;
    min-height:750px;  
    background-size: cover;
    // background-position: center 100%;
    margin-bottom: 5rem;
} 

@media (max-width: 800px) {
    .bgBanner{
        background-position: center 100%;
        min-height: 700px;
    }
}
@media (max-width: 700px) {
    .bgBanner{
        background-position: center 100%;
        min-height: 500px;
    }
}