.bgBanner{
    background-image:url(../../public/images/banners/what-is-an-ea.png);
    background-repeat:no-repeat;
    min-height:750px;  
    background-size: cover;
    background-position: center 100%;
    margin-bottom: 5rem;
} 