.help{
    margin-left: 400px;
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 50px !important;
    h2{
        color: #01105b;
        text-align: center;
    }
    span{
        color: #01105b;
        font-size: 16px;
        text-align: center;
    }
}

.accordion{
    margin-top: 30px;
    margin-bottom: 30px;
    h2{
        color: #333346 !important;
    }
    span{
        font-size: 14px;
        color: #676767;
    }
    h4{
        color: #7d7d80;
    }
}