.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 12rem;
    height: 3rem;
    margin-left: 13.5px;
    margin-right: 13.5px;
    border-radius: 10px;
    border-width: 3px;
    transition: all 0.5s;
}

.btn-primary {
    color: $primary-color;
    background: white;
    border-color: white;
    font-weight: bold;
    outline: none;

    &:hover {
        color: white;
        background: $primary-color;
        border-color: white;
    }
}

.btn-outline {
    color: white;
    background: transparent;
    border-color: white;
    font-weight: bold;
    outline: none;

    &:hover {
        color: $primary-color !important;
        background: white;
        border-color: white;
    }
}

.btn-outline-primary {
    color: white;
    background: $primary-color;
    border-color: white;
    font-weight: bold;
    outline: none;

    &:hover {
        color: $primary-color !important;
        background: white;
        border-color: white;
    }
}

.btn-card {
    width: 85%;
    color: white;
    font-weight: bold;
    background: black;
}

.btn-common {
    margin-top: 6rem;
    width: 22rem;
    font-weight: bold;
    font-size: 1.5rem;
    height: 4.5rem;
    border-width: 5px;
    border-radius: 5px;
    border-color: $primary-color;
    color: $primary-color;
}

.btn-form {
    background: $primary-color;
    color: white;
    font-weight: bold;
    padding-left: 4rem;
    padding-right: 4rem;
    width: max-content;
    box-shadow: 0px 6px 18px 0px #00000040;

    &:hover {
        color: white;
    }
}

.btn-news {
    background: white !important;
    color: black !important;
    border-color: black;
    margin-left: 0;
    margin-top: 1rem;
    width: 8rem !important;
    border-radius: 5px;

    &:hover {
        background: black !important;
        color: white !important;
    }
}

@media only screen and (max-width: 768px) {
    .btn-common {
        margin-top: 2rem;
        width: 17rem;
        font-size: 1rem;
    }
}

.input-group-nowrap {
    flex-wrap: nowrap !important;

    .form-control {
        height: 3.5rem !important;
    }
}


