@import 'navbars';
@import 'searchbar';
@import 'banner';
@import 'footer';

@import 'buttons';
@import 'cards';



.top-rated {
    padding-top: 5%;
    padding-bottom: 5%;
    background: #F7F8FF;
    color: $primary-color;

    span {
        color: #777777;
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 1%;
    }

    .card-list {
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 3%;
    }
}

@media only screen and (max-width: 768px) {
    .top-rated {
        padding-top: 7%;

        h1 {
            font-size: 2.5rem !important;
        }

        span {
            margin-bottom: 7%;
        }
    }

    .card-list {
        margin-top: 0 !important;
        padding-top: 0 !important;
        align-items: stretch !important;
        padding-left: 20% !important;
        padding-right: 20% !important;
    }

    .mt-5r-sm {
        margin-top: 5rem;
    }

    .city-list a {
        font-size: 0.9rem !important;
    }

    .request-callback h5 {
        width: 50% !important;
    }

    .form-wrapper {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}

@media only screen and (min-width: 1366px) {
    .section-heading {
        width: 70%;
    }

    .section-body {
        width: 75%;
    }
}



.section {
    padding-top: 12.5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12.5%;
    background: white;
    color: $primary-color;

    .section-body {
        margin-top: 1.5rem;
        font-size: 1.1rem;
        color: $secondary-color;
    }
}

.search-section {
    background: #F6F8FF;

    .search-btn {
        font-size: 1rem;
    }
}

.mr-cities {
    .mr-header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: white;
        background: $primary-color;
    }

    .mr-cities-inner {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 15%;
        padding-right: 15%;
        background: rgba(1, 16, 91, 0.8);
    }

    .mr-footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: white;
        background: $primary-color;

        .btn {
            width: 15rem;
        }
    }
}

.city-list {
    width: max-content;
     
    a {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: start;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

.request-callback {
    padding-top: 5%;
    padding-bottom: 5%;

    h1 {
        color: $primary-color;
    }

    h5 {
        width: 30%;
        color: black;
        text-align: center;
    }
}

.form-wrapper {
    margin-top: 2%;
    padding-left: 20%;
    padding-right: 20%;

    .form-between {

        .form-group {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        input {
            width: 40%;
            height: 4.5rem;
            padding: 2rem;
            border-radius: 10px;
            outline: none;
            border-color: grey;
            border-style: solid;
        }

        textarea {
            width: 87%;
            padding: 2rem;
            border-width: 2px;
            border-radius: 10px;
            outline: none;
            border-color: grey;
            border-style: solid;
        }

        .form-btn-wrapper {
            margin-top: 1.5rem;
            padding-right: 5%;
        }
    }
}