@import 'navbars';
@import 'searchbar';
@import 'banner';
@import 'footer';

@import 'buttons';
@import 'cards';



.top-rated {
    padding-top: 3%;
    padding-bottom: 3%;
    background: #F7F8FF;
    color: $primary-color;

    span {
        color: #777777;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .card-list {
        padding-top: 3%;
        padding-left: 15%;
        padding-right: 15%;
    }
}

.search-section {
    padding-top: 12.5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12.5%;
    background: #F6F8FF;
    color: $primary-color;

    .search-heading {
        width: 70%;
    }

    .search-body {
        width: 75%;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        color: $secondary-color;
    }
}