.footer {
    padding: 0;
    background: url('../public/footer.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .footer-inner {
        padding-left: 4%;
        padding-right: 5%;
        padding-top: 3%;
        padding-bottom: 5%;
        color: white;
        height: 40%;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 1) 65.37%, rgba(80, 56, 56, 0.6) 106.11%);

        .btn-outline:hover {
            color: white;
        }

        .footer-up {
            margin-bottom: 3%;

            .footer-btns {
                display: flex;
                justify-content: flex-end;
            }
        }

        hr {
            opacity: 1;
            margin-bottom: 2%;
        }

        .footer-down {
            .socials {
                color: white;

                .row {
                    width: 35%;

                    svg {
                        width: 2.7rem;
                    }
                }
            }

            .footer-link-list {
                list-style: none;

                .footer-link {
                    font-weight: bold;
                    margin-bottom: 20px;
                    width: 15rem;

                    a:hover {
                        color: white;
                    }

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {

    .footer {
        display: flex;
        flex-direction: column !important;
    }

    .socials {
        width: 85% !important;
        margin-bottom: 2rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .footer-link {
        font-size: .6rem;
    }

    .footer-inner {
        background: black !important;
        padding-top: 2rem !important;

        .btn-outline {
            font-size: 0.8rem;
            width: 8rem;
            
            &:hover {
                width: 8rem;
            }
        }
    }

    .footer-up {
        margin-bottom: 2rem !important;
        align-items: center;

        .footer-btns {
            margin-top: 1rem;
            justify-content: flex-start !important;
        }
    }

    .footer-link {
        font-size: 1rem !important;
    }

    .footer-link-list {
        padding-left: 0;
    }
}