.nav {
    height: 6rem;
    overflow-x: hidden;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.blue-nav {
    background: $primary-color;
    color: white;

    h5 {
        font-size: 0.9rem;
        font-weight: bold;

        svg {
            margin-right: 5px;
        }
    }

    @media only screen and (max-width: 768px) {
        h5 {
            font-size: 0.6rem;
            font-weight: bold;
            margin-left: 10px;
        }

        button {
            font-size: 0.7rem;
        }
    }
}

.white-nav {
    padding-left: 4%;
    padding-right: 6%;
    background: white;
    color: $primary-color;

    .navbar-toggler-icon {
        color: $primary-color;
    }

    @media only screen and (max-width: 991px) {

        .navbar-brand {
            img {
                width: 15rem;
            }
        }

        .bar {
            display: flex;
            flex-wrap: inherit;
            padding-right: var(--bs-gutter-x, 0.75rem);
        }

        .navbar-nav {
            justify-content: flex-end;
        }
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {

        .nav-link {
            font-weight: bold;
            color: lighten($color: black, $amount: 30%);
            margin-right: 2rem;
        }

        .nav-link.active {
            color: $primary-color;
        }

        .dropdown-menu {
            // margin-top: 0.9rem;
            width: 15.5rem;
            outline: none;
            border: none;
        }

        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu:hover {
            display: block;
        }

        .dropdown-item {
            margin-bottom: 0.4rem;
            font-size: 0.9rem;
            transition: margin-left 1s;
        }

        .dropdown-item.active {
            color: $primary-color;
            font-weight: bold;
            background: darken($color: white, $amount: 10%);
        }

        .dropdown-item:hover {
            margin-left: -5px;
            background: $primary-color;
            color: white;
        }

        .nav-dropdown-header {
            margin-left: 1rem;
            color: $primary-color;
            font-weight: bold;
            margin-bottom: 0.7rem;
        }
    }
}

.dashboard-nav {
    padding-left: 8%;
    padding-right: 10%;
    background: white;
    color: $primary-color;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);

    .navbar-toggler-icon {
        color: $primary-color;
    }

    @media only screen and (max-width: 991px) {

        .navbar-brand {
            img {
                width: 15rem;
            }
        }

        .bar {
            display: flex;
            flex-wrap: inherit;
            padding-right: var(--bs-gutter-x, 0.75rem);
        }

        .navbar-nav {
            justify-content: center;
        }
    }

    .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav {

        .nav-link {
            font-weight: bold;
            color: lighten($color: black, $amount: 30%);
            margin-right: 2rem;
        }

        .nav-link.active {
            color: $primary-color;
        }

        .dropdown-menu {
            // margin-top: 0.9rem;
            width: 15.5rem;
            outline: none;
            border: none;
        }

        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu:hover {
            display: block;
        }

        .dropdown-item {
            margin-bottom: 0.4rem;
            font-size: 0.9rem;
            transition: margin-left 1s;
        }

        .dropdown-item.active {
            color: $primary-color;
            font-weight: bold;
            background: darken($color: white, $amount: 10%);
        }

        .dropdown-item:hover {
            margin-left: -5px;
            background: $primary-color;
            color: white;
        }

        .nav-dropdown-header {
            margin-left: 1rem;
            color: $primary-color;
            font-weight: bold;
            margin-bottom: 0.7rem;
        }
    }
}