@import 'colors';
@import 'layout';
@import 'pagination';
@import './ea-listings/ea-listings';
@import './what-is-an-ea/what-is-an-ea';
@import './new-listing/new-listing';
@import './about/about';
@import './terms/terms';
@import './contact/contact';
@import './recent-articles/recent-article';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'DM Serif Display',-apple-system, serif;
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
}

p{
  font-family:  'Roboto', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
  
}
li{
cursor: pointer;
}

* {
  box-sizing: border-box;
}

input, textarea {
  font-family: 'Roboto', sans-serif !important;
}
