@import 'colors';
@import 'layout';
@import 'pagination';
@import './ea-listings/ea-listings';
@import './what-is-an-ea/what-is-an-ea';
@import './new-listing/new-listing';
@import './about/about';
@import './terms/terms';
@import './contact/contact';
@import './recent-articles/recent-article';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'DM Serif Display',-apple-system, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
