@import 'colors';

.landingPage {

    .stats {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        background: #F6F8FF;
        color: $primary-color;

        h6 {
            font-family: 'Roboto', sans-serif !important;
            color: black;
            font-weight: 400;
            font-size: 1.3rem !important;
        }
    }

    .taxResources {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        background: #F6F8FF;
        color: $primary-color;
    }

    .mailingList {
        padding-top: 5%;
        padding-bottom: 2%;
        padding-right: 20%;
        padding-left: 20%;
        background: #F6F8FF;
        color: $primary-color;

        h6 {
            font-weight: 400 !important;
            font-family: 'Roboto', sans-serif !important;
        }

        .subscriberForm {
            margin-top: 3%;
            margin-bottom: 5%;

            input[type='email'] {
                width: 24rem;
                padding-left: 1.5rem;
                border-radius: 4px;
                outline: none;
                border-color: grey;
                border-style: solid;
            }

            button {
                border-radius: 4px;
                box-shadow: 0px 10px 24px 0px #00000059;
                width: 12rem;
                background: $primary-color;
                color: white;
                font-weight: bold;
            }
        }
    }

    @media only screen and (max-width: 768px) {

        .mailingList {
            padding-top: 5%;
            padding-bottom: 2%;
            padding-right: 10% !important;
            padding-left: 10% !important;
            background: #F6F8FF;
            color: $primary-color;

            h1 {
                font-size: 1.9rem;
            }
    
            .subscriberForm {
                margin-top: 3%;
                margin-bottom: 5%;
                flex-direction: column !important;
                align-items: center;
    
                input[type='email'] {
                    width: 21rem;
                    height: 3rem;
                    margin-bottom: 5%;
                    border-radius: 4px;
                    outline: none;
                    border-color: grey;
                    border-style: solid;
                }
    
                button {
                    border-radius: 4px;
                    box-shadow: 0px 10px 24px 0px #00000059;
                    width: 12rem;
                    background: $primary-color;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}