@import 'colors';

.landingPage {

    h1 {
        font-size: 3rem;
        font-weight: bolder;
    }

    h6 {
        font-weight: bold;
    }

    .stats {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        background: white;
        color: $primary-color;
    }
}