.cost {
    padding-top: 5%;
    padding-bottom: 5%;

    h4 {
        font-size: 1.8rem;
        font-family: 'Arial' !important;
    }
}

.contact {
    padding-top: 5%;
    padding-bottom: 5%;
    background: #F6F8FF !important;

    h1 {
        color: #01105B;
    }
}

.info {
    padding-top: 5%;
    padding-bottom: 5%;

    h1 {
        color: #01105B;
    }
}