.search {
    background: #E5E5E5;
}
.showResult {
    display: flex;
    width: 78%;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
}
.showResult p{
    font-size: 24px;
    font-weight: 400;
}
.filters {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    color: hsla(230, 98%, 18%, 1);
}
.clear {
    padding-left: 60px;
}
.select {
    font-weight: lighter;
    width: 220px;
    height: 60px;
    font-size: 20px;
    color: hsla(230, 98%, 18%, 1);
    border-radius: 10px;
}
.parentDiv {
    background-color: white;
    width: 1290px;
    border: 10px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
    // margin-bottom: 30px;
}
.divide {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 25px;
}
#span {
    font-size: 30px;
    color: hsla(230, 98%, 18%, 1);
    font-weight: 900;
}
.rating {
    display: flex;
}
.right {
    display: grid;
}
.btn1 button{
    width: 200px;
    height: 60px;
    background-color: white;
    color: hsla(230, 98%, 18%, 1);
    border-radius: 10px;
    border: 1px solid hsla(230, 98%, 18%, 1);
    font-size: 20px;
}
.btn2 button{
    width: 200px;
    height: 60px;
    background-color: hsla(230, 98%, 18%, 1);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.icon img{
    width: 200px;
    border-radius: 50%;
}
.left {
    display: flex;
}
.leftText {
    display: grid;
    padding-left: 35px;
    height: 50px;
    margin-top: 40px;
}
.leftText h6{
    font-size: 36px;
    font-weight: 500;
}
.leftP {
    font-size: 24px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 10px;
    color: rgb(73, 72, 72);
}

  
